.App {
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: purple;
  height: 12%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h2 {
  margin: 0;
  margin-left: 3%;
  font-size: 120%;
}

.indent-1 {
  margin-left: 1%;
}

.indent-2 {
  margin-left: 2%;
}

.header-username {
  padding: 2%;
}

.users-main {
  display: grid;
  place-content: center;
  height: 50%;
}